body {
    background: #000;
    font-family: "Courier";
}
#save {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 80px;
    height: 30px;
    background-color: #ececec;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    visibility: hidden;
}
#droparea {
    position: relative;
    width: 99%;
    height: 99%;
    background-color: #000;	
}
#wrapper {
    width: 720px;
    position: relative;
    margin: 0 auto;
    height: 1600px;
    /*overflow: hidden;*/
}
#my_image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    transform: rotate(0deg);
    display: none;
}
#image-number {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    z-index: 998;
}
#edit-canvas {
    background-color: #fff;
}
#background {
    display: block;
    position: absolute;
    top: 0;	
    width: 540px;			
    height: 960px;
}
#filename {
    position: fixed;
    left: 5px;
    bottom: 5px;
    color: #fff;
}
#next-button, #prev-button {
    position: absolute;
    top: calc(50%);
    width: 40px;
    height: 70px;
    background-color: #ececec;
    cursor: pointer;
    visibility: hidden;
}
#next-button {
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#prev-button {
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#output-text {
   /* visibility: hidden; */
    position: absolute;
    left: 8px;
    bottom: 30px;
    width: 300px;
    height: 150px;
    background-color: #000;
    color: #ddd;
}
#copy-filenames {
    display: none;
    position: absolute;
    left: 8px;
    bottom: 185px;
    width: 50px;
    height: 18px;
    background-color: #ececec;
    cursor: pointer;
}
.line {
    background-color: #2f2f2f30;
}
.line.hidden {
    display: none;
}
#line-vert-1, #line-vert-2, #line-vert-3 {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
}
#line-horz-1, #line-horz-2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
}
#next-image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 150px;
}
.next-image {
    float: left;
    height: 150px;
}